header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.94rem;

    img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2.75rem;
        width: 10.13rem;
    }

}