/* Design System */
@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500;700 & family= Shrikhand & display=swap");
@import 'header.css';
@import 'footer.css';
@import 'button.css';
@import 'card.css';
/**** Colors ****/
/**** Text configuration ****/
body,
p {
  margin: 0;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.main-container {
  max-width: 1440px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.location {
  background-color: #EAEAEA;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.07rem;
  height: 3.13rem;
}

.hero {
  background-color: #F6F6F6;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.44rem;
  padding-bottom: 3.57rem;
}
.hero h1 {
  width: 17.19rem;
  height: 4.25rem;
  text-align: center;
}
.hero p {
  font-family: "Roboto", sans-serif;
  font-size: 1.13rem;
  font-weight: 300;
  height: 2.88rem;
  text-align: center;
  padding-bottom: 1.69rem;
}

.functioning {
  padding: 3rem 1.25rem 4.25rem 1.25rem;
}
.functioning ol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.57rem;
  margin: 1.65rem 0 0 0;
  padding-left: 0.5rem;
  list-style-type: none;
  counter-reset: li;
}
.functioning ol li {
  position: relative;
}
.functioning ol li::before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  margin-top: 1.69rem;
  margin-left: -0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5rem;
  background: #9356DC;
  color: white;
}

.Restaurants {
  padding: 3.38rem 0.94rem 4.13rem 1.07rem;
  background: #F6F6F6;
}